body {
	background: #bdbdc9;
	font-size: 18px;	
	font-family: Garamond, serif;

}
h1 {
	color: gray;
	font-size: 35px;
	font-family: Lucida;
	color: gray;
	margin: 100px auto 50px;
	text-align: center;
}

h4 {
	color: gray;
	margin: 100px auto 120px;
	font-family: Lucida;
	font-size: 20px;
	text-align: center;
}

.table {
	background-color: white;
	font-color: #bdbdc9;
	height: 400px;
	width: 700px;
	border: 3px solid #7da7d9;
	margin: 50px auto;
}

.shape1 {
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;
	margin: auto;
	text-align: center;
}

.images {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


