body {
	background: white;
	font-size: 18px;	
	font-family: Garamond, serif;
	padding: 10%;
}
h1 {
	color: gray;
	font-size: 75px;
	font-family: Garamond;
	color: gray;
	margin: 100px auto 50px;
	text-align: center;
}

h4 {
	color: gray;
	margin-top: 25px;
	margin-bottom: 150px;
	font-family: Helvetica;
	font-size: 14px;
	text-align: center;
}

h2 {
	font-style: italic;
}


.shape {
	background: white;
	font-family: Helvetica;
	font-color: gray;
	font-size: 13px;
	text-decoration: none;
	text-align: center;
	margin-top: 150px;
	margin-left: 40px;
	padding: 20px;
	border: 3px solid black;	
}

div.shape {
	display: inline;
}

div.shape a:hover {
	opacity: .5;
	background: #ffffff;
}

.shape1 {
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;
	margin: auto;
	text-align: center;
}

.images {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}







position: fixed;
z-index: 1000;