body {
	background: white;
	font-size: 18px;	
	font-family: Garamond, serif;
	text-align: center;

}
h1 {
	font-size: 35px;
	font-family: Garamond;
	color: black;
	margin: 100px auto 50px;
	text-align: center;
}

h2 {
	color: red;
	font-size: 25px;
	text-align: center;
	font-style: italic;
}

h5 {
	color: red;
	font-size: 13px;
	font-family: Tahoma;
	margin-left: 30px;

}

h3 {
	font-color: black;
	margin-top: 70px;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica;
	font-size: 13px;
	text-align: center;
}

h4 {
	color: black;
	margin-top: 10px;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica;
	font-size: 13px;
	text-align: left;
	display: block;
}

.table {
	background-color: white;
	font-color: #bdbdc9;
	height: 400px;
	width: 700px;
	border: 3px solid #7da7d9;
	margin: 50px auto;
}

.shape1 {
	background: none;
	font-family: Helvetica;
	font-color: black;
	font-size: 13px;
	height: 40px;
	width: 100px;
	padding-top: 20px;
	margin-top: 50px;
	margin-left: 20px;
	border-bottom: 3px solid black;
}

div.shape1 {
	display: inline;
}

div.shape1 a:hover {
	opacity: .5;
	background: #ffffff;
}

div.shape1 a:hover {
	opacity: .5;
}

img {
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
}

/*img {
	font-family: tahoma;
	margin-top: 10px;
	margin-left: 50px;

}
*/

div.container {
	border-top: 5px solid #ffcc66;
	width: 1025px;
	margin-top: 20px;
	margin-right: 70px;
	text-align: center;

}

/*div.container img.document {
	display: block;
	position: static;

}*/


