body {
	background: white;
	font-size: 18px;	
	font-family: Garamond, serif;
	text-align: center;

}

h1 {
	font-size: 35px;
	font-family: Garamond;
	color: #151111;
	margin: 100px auto 50px;
	text-align: center;
}

h2 {
	color: #c11e1e;
	font-size: 25px;
	text-align: center;
	font-style: italic;
}

h5 {
	color: #c11e1e;
	font-size: 13px;
	font-family: Tahoma;
	margin-left: 30px;

}

h3 {
	font-color: #151111;
	margin-top: 70px;
	margin-left: 120px;
	margin-right: 120px;
	font-family: Helvetica;
	font-size: 13px;
	text-align: center;
}

h4 {
	color: #151111;
	padding: 20px;
	margin-bottom: 20px;
	font-family: Helvetica;
	font-size: 13px;
	text-align: left;
	position: relative;
}

.table {
	background-color: white;
	font-color: #bdbdc9;
	height: 400px;
	width: 700px;
	border: 3px solid #7da7d9;
	margin: 50px auto;
	position: fixed;
}



img {
	text-align: center;
	margin: 20px auto 20px auto;
	display: block;
}

/*img {
	font-family: tahoma;
	margin-top: 10px;
	margin-left: 50px;

}
*/

div.container {
	border-top: 5px solid #ffcc66;
	width: 1025px;
	margin-top: 20px;
	margin-right: 70px;
	text-align: center;

}

/*div.container img.document {
	display: block;
	position: static;

}*/


