body {
	background: #bdbdc9;
	font-family: arial, serif;
}

.myessay {
	margin:20px 300px 50px 300px;
	font-size:15px;
}

.myessay p {
}

h1 {
	font-family: "mono45-headline";
	font-size: 2em;
	margin-top: 50px;
	font-style: italic;
	margin: 50px auto
}

h2 {
	font-size: 130%;
	text-transform: 3px;
	font-weight: bold;
	text-align: center;
	margin: 20px 150px;
}

.blockquote {
	font-style: italic;
	font-size: 1.25em;
	border-left: 5px solid #000000;
	margin: 1.5em 0;
	line-height: 1.5em;
	font-family: impact;
}

.shape1 {
	text-align: center;
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;
	margin: 50px auto;
	margin-bottom: 25px;
}


