body {
	background: #bdbdc9;
	font-family: arial, serif;
}

.p {
	color: gray;
}
.myessay {
	margin:20px 200px 50px 200px;
	font-size:15px;
}

.myessay p {
	margin: 20px 250px;

}

.h1 {
	font-size: 2em;
}

.h2 {
	font-size: 130%;
	text-transform: 3px;
	font-weight: bold;
	text-align: center;
}

.blockquote {
	font size:150%;
	font-weight: bold, italic;
	text-align: center;
}

.shape1 {
	text-align: center;
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;

.date {
	text-align: left;
}