body {
	background: #bdbdc9;
	font-family: arial, serif;
}

.p {
	color: gray;
}
.myessay {
	margin:20px 200px 50px 200px;
	font-size:15px;
}

.myessay p {
}

.h1 {
	font-family:"mono45-headline";
	font-size: 2em;
}

.h2 {
	font-size: 130%;
	text-transform: 3px;
	font-weight: bold;
	text-align: center;
	margin: 20px 150px;
}

.blockquote {
	font-style: italic;
	font-size: 1.5em;
	border-left: 5px solid #000000;
	margin: 1.5em 0;
	line-height: 1.5em;
	font-family: impact;

}

.shape1 {
	text-align: center;
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;

.date {
	text-align: left;

}