body {
	background: #bdbdc9;
	font-family: arial, serif;
}

.myessay {
	margin:20px 400px 50px 400px;
	font-size:15px;
}

.myessay p {
}

h1 {
	font-family: "mono45-headline", impact;
	font-size: 2em;
	margin-top: 50px;
	font-style: italic;
	margin: 50px auto;
	text-align: center;
}

h2 {
	font-family: "mono45-headline" impact; 	
	font-size: 130%;
	text-transform: 3px;
	font-weight: bold;
	text-align: left;
	
}

.blockquote {
	font-style: italic;
	font-size: 1.25em;
	border-left: 5px solid #000000;
	margin: 1.5em 0;
	line-height: 1.5em;
	font-family: lucida;
}

.shape1 {
	text-align: center;
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;
	margin: 50px auto;
	margin-top: 100px;
	margin-bottom: 25px;
}

.images {
	text-align: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}


dd {
	text-align: right;
}