body {
	background: #bdbdc9;
	font-size: 18px;	
	font-family: Garamond, serif;

}
h1 {
	font size: 35px;
	font-family: Lucida;
	color: gray;
}
h4 {
	color: gray;

}
.shape {
	background: none ;
	font-color: #ffffff;
	height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-right:10px;
	margin-left: 20px;
	border-left:5px solid #7da7d9;
	border-right:5px solid #7da7d9;
	
}
.shape1 {
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 300px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;
}