body {
	background: #bdbdc9;
	font-size: 18px;	
	font-family: Garamond, serif;

}
h1 {
	color: gray;
	font-size: 35px;
	font-family: Lucida;
	color: gray;
	margin: 100px auto 50px;
	text-align: center;
}

h4 {
	color: gray;
	margin: 100px auto 120px;
	font-family: Lucida;
	font-size: 20px;
	text-align: center;
}


.shape {
	background: none ;
	font-color: #ffffff;
	height: 55px;
	width: 200px;
	padding-left: 10px;
	padding-right:10px;
	border-left:5px solid #7da7d9;
	border-right:5px solid #7da7d9;
	margin: auto;
}

.shape1 {
	background: none;
	font-color: #ffffff;
	height: 40px;
	width: 100px;
	border-left: 5px solid #7da7d9;
	border-right: 5px solid #7da7d9;
	margin: auto;
	text-align: center;
}

.images {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}






div.thumbnatil {
	text-decoration: none;
}

div.thumbnail a:hover {
	opacity: 1;
	background: yellow;

}

position: fixed;
z-index: 1000;