body {
	background: white;
	font-size: 18px;	
	font-family: Garamond, serif;
	padding: 10%;
}

h1 {
	color: #0a4443;
	font-size: 80px;
	margin-left: 65px;
	font-family: Garamond;
	color: #0a4443;
}

h4 {
	color: #0a4443;
	font-size: 18px;
	margin-left: 70px;
	text-transform: uppercase;
}

ul.list a {
	position: relative;
	color: #0a4443;
	text-decoration: none;
}

ul.list {
	list-style: none;
	padding: none;
	margin: none;
	font-size: 12px;
	position: absolute;

}

ul.list a:hover {
	color: #bdcaca;
}

li.project {
	padding: 30px;
	position: relative;
	border-bottom: 1px solid #0a4443;
	text-transform: uppercase;
	letter-spacing: 1px;

}

/*li.project a:code-link {
	font-size: 0.5em;
	text-transform: uppercase;
	: all 0.2s;
}

li.project img {
	position: absolute;
}*/


